<h1>Edit recipe <%= @recipe.id %></h1>

<%= form_for(@recipe) do |f| %>
  <div class="field">
    <%= f.label :Result %>:<br>
    <%= f.collection_select :result_id, @items, :id, :name %>
  </div>
  <br>
  <div class="items">
    <%= f.fields_for :quantities do |ff| %>
      <div class="item_fields">
        <%= ff.hidden_field :id %>
        <%= ff.text_field :amount %>
        <% unless ff.object.item_id %>
          <%= ff.collection_select :item_id, @items, :id, :name, prompt: true%>
          <%= link_to "Add", edit_recipe_path(extrablank: @extrablank + 1) %><br>
        <% else %>
          <%= (@items.detect{|i| i.id == ff.object.item_id}).name %>
          <%= link_to "Delete", quantity_path(id: ff.object.id), method: :delete %>
          <%= ff.hidden_field :item_id %>
        <% end %>
      </div>
    <% end %>
  <div class="form_sumbit">
    <%= f.submit %>
  </div>
<% end %>
<br><br>
<%= link_to "Back", recipes_path %>
