<h1>New recipe</h1>

<%= form_for(@recipe) do |f| %>
  <div class="field">
    <%= f.label :Result %>:<br>
    <%= f.collection_select :result_id, @items, :id, :name %>
  </div>
  <br>
  <div class="form_sumbit">
    <%= f.submit %>
  </div>
<% end %>
<br><br>
<%= link_to "Back", recipes_path %>
